@media only screen and (max-width: 370px){

	.monthDeal h6{
		font-size:11px;
	}
	
	.monthDeal h1, h2{
		font-size:25px;
	}
	
	.CustomerSays p{
		line-height:19px;
		font-size:14px;
	}
	
	.CustomerSays svg{
		font-size:45px;
	}
	
	.bottomPrt svg {
		font-size: 10px;
	}
	
	.CustomerSays .SideBar p {
		font-size: 17px;
		line-height: 30px;
	}
	
	.CustomerSays .SideBar p {
		font-size: 15px;
		line-height: 24px;
	}
	

}